# .gitignore

## 编译输出
[Bb]in/
[Oo]bj/
publish/

## NuGet包
*.nupkg
##  NuGet.Config  # 仅在需要锁定团队NuGet源时取消此行注释

## Visual Studio文件
*.suo
*.user
.vs/

## macOS/Linux
.DS_Store
~$*

## JetBrains (Rider)
.idea/

## Avalonia / .NET 特定
Logs/
*.cache
TestResults/

temp/